body {
  font-family: "Dancing Script", cursive;
  margin: 0;
  padding: 0;
  background-color: rgb(234, 230, 230);
  color: #333;
  font-size: 1.5em;
}

.header {
  background-color: #32a0db;
  padding: 30px;
  text-align: center;
}

.header .logo {
  font-size: 3em;
  color: white;
  font-weight: bold;
}

.navbar {
  margin-top: 10px;
}

.navbar ul {
  list-style: none;
  padding: 0;
}

.navbar li {
  display: inline;
  margin-right: 30px;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
}

.button-container {
  margin-top: 10px;
}

.back-button {
  background-color: #ff5722;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
}

.back-button:hover {
  background-color: #e64a19;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}

.main-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.section {
  margin: 60px 0;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #32a0db;
  font-size: 2.5em;
}

.content-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.content-item {
  width: 30%;
  text-align: center;
  margin: 20px 0;
}

.content-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: 1.2em;
}
